# Application
NODE_ENV=development

# API
API_PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000/api

# PostgreSQL
POSTGRES_DB=proyecto_pruebas
POSTGRES_USER=proyecto_user
POSTGRES_PASSWORD=proyecto_password
POSTGRES_PORT=5432