# Entorno de ejecución
NODE_ENV=development

# API
API_PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000/api

# PostgreSQL - creación/configuración del contenedor
POSTGRES_DB=proyecto_pruebas
POSTGRES_USER=proyecto_user
POSTGRES_PASSWORD=proyecto_password
POSTGRES_PORT=5433

# API -> PostgreSQL cuando ejecutas Node fuera de Docker
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=proyecto_pruebas
DB_USER=proyecto_user
DB_PASSWORD=proyecto_password

# CORS
CORS_ORIGIN=http://localhost:5173